main{
    margin: 20px;
}

nav{
    border: 5px solid black;
    background-color: #f1f1f1;
    height: 50px;
}

.caixa{
    height: 250px;
    width: 600px;
    background-color: red;
}
.caixa2{
    height: 250px;
    width: 600px;
    background-color: black;
    
}

.texto{
    display: flex;
    margin: 20px;
    padding: 10px;
}
.texto2{
   display: flex;
   flex-direction: row-reverse;
}

.conteudo{
    margin: 20px;
}
